:root {
  --body-text-color: rgba(33, 33, 33, 100%);
  --logo-text-color: rgba(0, 0, 0, 100%);
  --blue-color: rgba(33, 150, 243, 100%);
  --list-text-color: rgba(117, 117, 117, 100%);
  --body-background-color: rgba(255, 255, 255, 100%);
  --grey-background-color: rgba(245, 244, 250, 100%);
  --footer-background-color: rgba(47, 48, 58, 100%);
  --address-text-color: rgba(255, 255, 255, 60%);
  --header-border-color: rgba(236, 236, 236, 100%);
  --portfolio-item-border-color: rgba(238, 238, 238, 100%);
  --hero-image-overlay-color: rgba(47, 48, 58, 40%);
  --hero-image-background-color: rgba(196, 196, 196, 100%);
  --socialmedia-icon-color: rgba(175, 177, 184, 100%);
  --footer-smlist-icon: rgba(255, 255, 255, 10%);
  --item-overlay-backgroundcolor: rgba(47, 48, 58, 80%);
  --portfolio-overlay-color: rgba(33, 150, 243, 90%);
  --backdrop-background-color: rgba(0, 0, 0, 20%);
}

html {
  box-sizing: border-box;
}
/* Border-box */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--body-background-color);
  color: var(--body-text-color);
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* header*/

.page-header {
  background-color: var(--body-background-color);
  border-bottom: 1px solid;
  border-color: var(--header-border-color);

  /* outline: 2px dashed blue; */
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo */

.logo-header {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 94px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-text-color);
  letter-spacing: 0.03em;

  /* outline: 2px solid blue; */
}

.logo-span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--blue-color);
  letter-spacing: 0.03em;
}

.logo-header:hover,
.logo-header:focus {
  color: var(--blue-color);
}

/* site navigation */

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* outline: 2px solid blue; */
}

.main-nav {
  display: flex;
  flex-direction: row;

  gap: 50px;
  /* outline: 2px solid blue; */
}

.main-nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: inherit;
  letter-spacing: 0.02em;
}

.current-item a {
  color: var(--blue-color);
}

.current-item::after {
  display: block;
  width: 100%;
  height: 4px;
  content: "";
  background-color: var(--blue-color);

  border-radius: 2px;
}

/* header-contact */

.contact-nav {
  display: flex;
  column-gap: 50px;

  /* outline: 2px solid blue; */
}

.contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--list-text-color);
}

.contact-icon {
  fill: currentColor;
}

/* hover and focus */

.main-nav .item:hover,
.contact-nav .contact-link:hover,
.main-nav .item:focus,
.contact-nav .contact-link:focus {
  color: var(--blue-color);
}

/* студія main section */

/* hero-section */

.index-hero {
  margin-bottom: 0;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-image-overlay-color);
  background-image: linear-gradient(
      to right,
      var(--hero-image-overlay-color),
      var(--hero-image-overlay-color)
    ),
    url(../images/hero-image.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* outline: 2px dashed red; */
}

.index-hero-title {
  width: 696px;
  margin: 0 auto 30px auto;

  color: var(--body-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;

  /* outline: 2px solid red; */
}

.hero-button {
  width: 216px;
  height: 50px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--blue-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  color: var(--body-background-color);
  line-height: 1.88;
  letter-spacing: 0.06em;

  /* outline: 2px solid red; */
}

.hero-button:focus {
  background-color: var(--blue-color);
}

/* specialities section */

.index-aside {
  margin: top 0;
  padding-top: 94px;

  /* outline: 2px dashed forestgreen; */
}

/*  hidden h1 + h2 titles on main and portfolio pages */
.hidden-title {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.index-aside-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.index-aside-item {
  width: 270px;
  margin-right: 30px;
  /* outline: 2px solid forestgreen; */
}

.index-aside-item:last-child {
  margin-right: 0;
}

.index-aside-item::before {
  display: block;
  content: "";
  height: 120px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: var(--grey-background-color);
  margin-bottom: 30px;
  border-radius: 4px;
  /* outline: 1px solid black; */
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.item-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--list-text-color);
  letter-spacing: 0.03em;
}

/* worklist section */

.index-work-section {
  margin: top 0;
  padding-top: 94px;
  padding-bottom: 94px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* outline: 2px dashed tomato; */
}

.index-work-section a:hover,
.index-work-section a:focus {
  color: var(--blue-color);
}

.index-worklist {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.index-worklist img {
  display: block;
}

.worklist-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.worklist-item-link {
  position: relative;
}

.worklist-item-link:hover .item-link-text,
.worklist-item-link:focus .item-link-text {
  opacity: 1;
}

.worklist-item-link .item-link-text {
  position: absolute;
  bottom: 0%;
  left: 50%;
  height: 70px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: translate(-50%, 0%);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--body-background-color);
  background-color: var(--item-overlay-backgroundcolor);
}

/* teamlist section */

.index-teamlist-section {
  background-color: var(--grey-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;

  /* outline: 2px dashed orchid; */
}

.index-teamlist {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.index-teamlist-item {
  background-color: var(--body-background-color);
  width: 270px;
  margin-right: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  /* outline: 2px solid orchid; */
}

.index-teamlist-item:last-child {
  margin-right: 0;
}

.index-teamlist-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.item-container {
  margin-top: 0px;
  padding: 30px 0;

  background-color: var(--body-background-color);
}

.empolyees-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.employees-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--list-text-color);
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.sm-list {
  list-style: none;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.smlist-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 50%;
  background-color: var(--body-background-color);
}

.smlist-link:hover,
.smlist-link:focus {
  background-color: var(--blue-color);
}

.smlist-icon {
  width: 20px;
  height: 20px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: var(--socialmedia-icon-color);
}

.smlist-link:hover .smlist-icon,
.smlist-link:focus .smlist-icon {
  fill: var(--body-background-color);
}

/* Clientlist section */

.index-clientlist-section {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--body-background-color);
}

.index-clientlist-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clientlist {
  display: flex;
  justify-content: center;

  column-gap: 30px;
}

.clientlist-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border: 1px solid;
  border-color: var(--socialmedia-icon-color);
  border-radius: 4px;
}

.clientlist-link:hover,
.clientlist-link:focus {
  fill: var(--blue-color);
  border-color: var(--blue-color);
}

.clientlist-icon {
  width: 106px;
  height: 60px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: var(--socialmedia-icon-color);
}

.clientlist-link:hover .clientlist-icon,
.clientlist-link:focus .clientlist-icon {
  fill: var(--blue-color);
}

/* портфоліо main section*/

.main {
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--body-background-color);

  /* outline: 2px dashed seagreen; */
}
/* gallery navigation */

.gallery-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-bottom: 50px;

  /* outline: 2px dashed peru; */
}

.gallery-nav-item:nth-child(n + 2) {
  margin-left: 8px;
}

.gallery-nav button {
  height: 38px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--grey-background-color);
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
}

.gallery-nav button:focus,
.gallery-nav button:hover {
  background-color: var(--blue-color);
  color: var(--body-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;

  /* outline: 2px dashed seagreen; */
}

.gallery-item {
  width: 370px;

  /* outline: 2px solid seagreen; */
}

.gallery-item:nth-child(n + 6) {
  margin-bottom: 0px;
}

.gallery-item:nth-child(3n) {
  margin-right: 0;
}

.gallery-item-box {
  display: block;

  transition: box-sizing 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item-box:hover,
.gallery-item-box:focus {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-item .imagebox {
  position: relative;
  overflow: hidden;
}

.gallery-item-box:hover .imagebox-text-overlay {
  transform: translatey(0);
}

.imagebox-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--portfolio-overlay-color);
  padding: 63px 24px;

  transform: translatey(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--body-background-color);
}

.descr-container {
  margin-top: 0px;
  padding: 20px 24px;

  background-color: var(--body-background-color);

  border: 1px solid;
  border-top: 0px;
  border-color: var(--portfolio-item-border-color);
}

.gallery-item-header {
  margin-bottom: 4px;
  color: var(--body-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: var(--list-text-color);
  letter-spacing: 0.03em;
}

/* footer*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-background-color);

  /* outline: 2px dashed peru; */
}

.container.footer-container {
  display: flex;
  align-items: baseline;

  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.address-container {
  margin-right: 70px;
}

/* Footer logo*/

.logo-footer {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--body-background-color);
  letter-spacing: 0.03em;

  /* outline: 2px solid peru; */
}

.logo-footer:hover,
.logo-footer:focus {
  color: var(--blue-color);
}

/* Address list */

.address-list {
  /* outline: 2px solid peru; */
}

.item-address,
.item-link {
  margin-bottom: 9px;
}

.address-list li:last-child {
  margin-bottom: 0;
}

.address-list a:hover,
.address-list a:focus {
  color: var(--blue-color);
}

.item-address a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--body-background-color);
  letter-spacing: 0.03em;
}

.item-link a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--address-text-color);
  letter-spacing: 0.03em;
}

/* Footer smlist */

.footer-smlist-container {
}

.footer-smlist-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--body-background-color);
}

.footer-smlist {
  list-style: none;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.footer-smlist-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 50%;
  background-color: var(--footer-smlist-icon);
}

.footer-smlist-link:hover,
.footer-smlist-link:focus {
  background-color: var(--blue-color);
}

.footer-smlist-icon {
  width: 20px;
  height: 20px;

  fill: var(--body-background-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  visibility: visible;
  opacity: 1;

  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  background-color: var(--backdrop-background-color);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 528px;
  height: 581px;
  background-color: var(--body-background-color);
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--body-background-color);
  border: 1px solid var(--backdrop-background-color);
  border-radius: 15px;
  cursor: pointer;
}

.icon-close {
  width: 18px;
  height: 18px;

  /* transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); */

  fill: var(--body-text-color);
}
